	<div class="header">
      <div class="container">
        <h1>threadly</h1>
      </div>
    </div>
    <div class="main">
      <div class="container">
        
        <%= form_for (@new_post) do |f| %>
    	<%= f.label :comment %><br>
   		<%= f.text_field :comment  %>

		<div class='actions'>
		  <%= f.submit %>
		</div>
		<% end %>

        <ul class="comments">
		  <% @all_posts.each do |p| %>
		  <li><%= p.comment %></li>
		  <% end %>
		</ul>
      </div>
    </div>